.detail-divine{
    width: 100%;
    height: fit-content;
    /* background: rgb(19,0,24);
    background: linear-gradient(0deg, rgba(19,0,24,1) 15%, rgba(0,76,110,1) 41%, rgba(16,0,31,1) 67%);  */
    background-image: url(../../../public/fondos/pattern_9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    border-radius: 25px;

    padding: 20px;
    margin: 10px auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    border: 5px solid var(--black);
}

.detail-divine img {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    border: 3px solid var(--bwhite);
}

.detail-divine .detail {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 20px;
}

.detail-divine h3 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    font-size: 70px;
    color: #EFD550;
    text-shadow: 0px 0px 10px black, 0px 0px 15px #0B1426;
    transition: 1s ease;
    cursor: default;
}

.detail-divine h3:hover {
    text-shadow:0px 0px 5px #0B1426, 0px 0px 10px #04D9B2;

}

.detail-divine h4 {
    width: fit-content;
    height:fit-content ;
    padding:  5px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#EFD550;
    color: #282031;

    font-weight: 900;
    cursor: default;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 80%;
}

.detail-divine h4:hover {
    opacity: 100%;
}

.detail-divine p {
    margin-top: 20px;
    /* font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; */
    font-family: 'Titania';
    font-size: 30px;
    color: var(--bwhite);
    text-align: start;
    height: 200px;
    background-color: rgba(16, 2, 37, 0.459) ;
    text-shadow: 0px 0px 10px  black;
    padding: 10px;
    border-radius: 25px;   
}

