.detail-kitten{
    width: 100%;
    height: fit-content;
    background: rgb(0,114,142);
    background: linear-gradient(0deg, rgba(0,114,142,1) 0%, rgba(0,255,255,1) 100%); 
    border-radius: 25px;

    padding: 20px;
    margin: 10px auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    
    border: 5px solid var(--black);
}

.detail-kitten img {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    border: 3px solid var(--bwhite);
}

.detail-kitten .detail {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 20px;
}

.detail-kitten h3 {
    font-family: 'Rubik Bubbles', cursive;
    color: #b6179b;
    font-weight: 700;
    font-size: 70px;
    
    
    transition: 1s ease;
    cursor: default;
}

.detail-kitten h3:hover {
    text-shadow: 0px 6px white;

}

.detail-kitten h4 {
    width: fit-content;
    height:fit-content ;
    padding:  5px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#7204609f;
    color: #F2EEE9;

    font-weight: 900;
    cursor: default;
    text-transform: uppercase;
    cursor: pointer;
}

.detail-kitten p {
    margin-top: 20px;
    height: 200px;
    font-size: 18px;
    font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    color: white;
    text-align: start;
}

.detail-kitten .precio-det {
   
   
   box-shadow: 0px -3px 2px whitesmoke;

  
   transition: 0.1s ease-in;
}

.detail-kitten .precio-det:hover {
    box-shadow: 0px 3px 3px whitesmoke;

}

.detail-kitten .precio-det h5{
    font-family: 'Titania';
    font-size: 30px;
    margin: 0px;
}