.detail-emotes{
    width: 100%;
    height: fit-content;
    /* background: rgb(108,0,99);
    background: linear-gradient(0deg, rgba(108,0,99,1) 4%, rgba(255,85,228,1) 48%, rgba(93,255,222,1) 100%);  */

    background-image: url(../../../public/fondos/pattern_6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    border-radius: 25px;

    padding: 20px;
    margin: 10px auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    
    border: 5px solid var(--black);
}

.detail-emotes img {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    border: 3px solid var(--bwhite);
}

.detail-emotes .detail {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 20px;
}

.detail-emotes h3 {
    font-family: 'titania';
    font-weight: 700;
    font-size: 70px;
    color: #EAF2AE;
    text-shadow: 0px 0px 40px black;
    transition: 1s ease;
    cursor: default;
}

.detail-emotes h3:hover {
    text-shadow: 3px 3px black;

}

.detail-emotes h4 {
    width: fit-content;
    height:fit-content ;
    padding:  5px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--black);
    background-color:#EAF2AE;

    font-weight: 900;
    cursor: default;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 80%;
}

.detail-emotes h4:hover {
    opacity: 100%;
}

.detail-emotes p {
    margin-top: 20px;
    /* font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; */
    font-family: 'Titania';
    font-size: 30px;
    color: var(--bwhite);
    text-align: start;
    height: 200px;
    background-color: rgba(16, 2, 37, 0.459) ;
    text-shadow: 0px 0px 10px  black;
    padding: 10px;
    border-radius: 25px;  
}

