.cart-icon {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: 1s ease;
    
    margin-top: 30px;
  }
  
  
  
  .cart-icon svg {
    stroke: var(--blue);
    border-radius: 100%;
    height: 60px;
    width: 60px;
    padding: 10px;
    background-color: var(--highlight);
    transition: 0.5s ease;
  }

  .cart-icon:hover {
    transform: scale(1.2);
  }
  
 