@font-face {
  font-family: 'titania';
  src: url(../src/assets/fonts/Titania-Regular.ttf) }

@font-face {
  font-family: 'titania-outline';
  src: url(../src/assets/fonts/Titania-Outline.ttf); }

@font-face {
  font-family: 'titania-shadow';
  src: url(../src/assets/fonts/Titania-Shadow.ttf); }


:root {
    --bwhite: #F2EEE9;
    --mate: #E8DEC6;
    --hmate: #D4D0BB;
    --black: #282031;
    --grey: #24A68E;
    --hgrey: #125952;
    --highlight: #F2BF91;
    --shigh:#EFD550;
    --blue:#593a85;
    --mag: #06ABBA;
    --dhigh: #9B5506;
}







